<wc-add-match></wc-add-match>
<mat-grid-list cols="1">
  <mat-list-item *ngFor="let day of days">
    <div>
      {{ day }}
      <mat-grid-list cols="1">
        <mat-list-item matLine *ngFor="let match of getMatches(day)">
          <form matLine #form="ngForm" (ngSubmit)="submit(match)">
            <mat-form-field>
              <input matInput [value]="match.date | date" placeholder="Date" name="date" disabled />
            </mat-form-field>
            <mat-form-field>
              <input matInput [value]="match.date.getHours() | time" placeholder="Time" name="time" disabled />
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="match.result1.score" [placeholder]="match.result1.teamId" name="team1" type="number" />
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="match.result2.score" [placeholder]="match.result2.teamId" name="team2" type="number" />
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Update</button>
          </form>
        </mat-list-item>
      </mat-grid-list>
    </div>
  </mat-list-item>
</mat-grid-list>
