<mat-card>
  <p>Ce site est developper avec <a href="https://angular.io/">Angular</a>, <a href="https://material.angular.io/">Angular Material</a> et <a href="https://firebase.google.com/">firebase</a>(et un peu de <a href="https://getbootstrap.com/docs/4.1/getting-started/introduction/">boostrap</a>).</p>
  <p>Le code source ce trouve <a href="https://github.com/aguacongas/worl-cup">ici</a>.</p>
  <p>Tu peux toi aussi créer ta propre communauté de pronostiqueurs en créant ta base <a href="https://firebase.google.com/">firebase</a> et en modifiant les paramètres de connexion à la BDD <a href="https://firebase.google.com/">firebase</a> en modifiant le fichier <a href="https://github.com/aguacongas/worl-cup/blob/develop/src/environments/bdd.ts">bdd.ts</a></p>
</mat-card>
