<form #form="ngForm" (ngSubmit)="submit()" class="form-inline">
  <mat-form-field>
    <input matInput type="text" value="Add team" disabled />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Name" name="name" [(ngModel)]="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Group" [(ngModel)]="group" name="group">
      <mat-option *ngFor="let group of groups" [value]="group">{{ group }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Add</button>
</form>
