<mat-card>
  <p>
    Si tu trouves le score du match tu gagnes
    <b>3 points</b>.
  </p>
  <p>
    Si tu trouves le vainqueur du match tu gagnes
    <b>1 points</b>.
  </p>
  <p>
    Tu peux pronostiquer jusqu'au coup d'envoi. Les séances de tirs au but ne sont pas comptabilisées.
  </p>
  <p>
    Le 1er gagne
    <b>toute mon estime</b>.
  </p>
  <mat-list-item matLine *ngFor="let rank of scores">
    <form class="row" [class.last]="rank.score" #form="ngForm" (ngSubmit)="submit()">
      <div class="col-1">
        <b>{{ rank.rank }}</b>
      </div>
      <div *ngIf="!rank.isUser" class="col-12 col-md-3">{{ rank.userName }}</div>
      <mat-form-field *ngIf="rank.isUser" class="col-12 col-md-3">
        <input matInput name="displayName" placeholder="pseudo" [(ngModel)]="displayName" maxlength="30" />
      </mat-form-field>
      <div *ngIf="rank.score || rank.score == 0" class="col-1">
        <b>{{ rank.score }}</b>
      </div>
      <div class="col-1" *ngIf="rank.score && rank.score > 1">points</div>
      <div class="col-1" *ngIf="rank.score == 0 || rank.score == 1">point</div>
      <div class="col-12 col-md">
        <button *ngIf="rank.isUser" mat-raised-button color="primary" type="submit">Enregistrer</button>
      </div>
    </form>
  </mat-list-item>

</mat-card>
