.title {
  font-size: 20px;
}
.body-content {
  margin-top: 56px;
  padding-top: 1rem;
}
.burger-bouton {
  display: none;
}
.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
@media (max-width: 767px) {
  .menu-bouton {
    display: none;
  }
  .title {
    margin-right: auto !important;
  }
  .burger-bouton {
    display: inherit;
  }
  .mat-button {
    padding: 0;
  }
}
@media (max-width: 321px) {
  .title {
    font-size: small;
  }
}
