<div class="container">
  <mat-toolbar>
    <button class="title" mat-button (click)="navigate('home')">Pronostics World Cup 2018</button>
    <button mat-button class="menu-bouton" (click)="navigate('home')">Pronostics</button>
    <button mat-button class="menu-bouton" (click)="navigate('rank')">Scores</button>
    <button mat-button class="mr-auto menu-bouton" (click)="navigate('about')">A propos</button>
    <button mat-button class="menu-bouton" *ngIf="userName" [matMenuTriggerFor]="userMenu">{{userName}}</button>
    <mat-menu #userMenu="matMenu">
        <button *ngIf="isAdmin" mat-menu-item (click)="navigate('admin')">Admin</button>
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    <button mat-button class="burger-bouton row justify-content-end" [matMenuTriggerFor]="burgerMenu">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
        <title>Menu</title>
        <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path>
      </svg>
    </button>
    <mat-menu #burgerMenu="matMenu">
      <button mat-menu-item (click)="navigate('home')">Pronostics</button>
      <button mat-menu-item (click)="navigate('rank')">Scores</button>
      <button mat-menu-item (click)="navigate('about')">A propos</button>
      <button *ngIf="isAdmin" mat-menu-item (click)="navigate('admin')">Admin</button>
      <button mat-menu-item *ngIf="userName" (click)="logout()">Logout</button>
    </mat-menu>
  </mat-toolbar>
  <div class="body-content">
    <router-outlet></router-outlet>
  </div>
</div>
