
<div class="container">
  <mat-toolbar>
    <button class="title mr-auto" mat-button (click)="navigate('home')">FIFA World Cup 2018 BET</button>
    <ul class="nav">
      <li class="nav-item">
          <button mat-button *ngIf="!userName" (click)="login()">Login</button>
          <button mat-button *ngIf="userName" [matMenuTriggerFor]="userMenu">{{userName}}</button>
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="logout()">Logout</button>
            <button *ngIf="isAdmin" mat-menu-item (click)="navigate('admin')">Admin</button>
          </mat-menu>
      </li>
    </ul>
  </mat-toolbar>
  <div class="body-content">
      <router-outlet></router-outlet>
  </div>
</div>

