.mat-tab-group {
  overflow-x: auto;
}
.container {
  padding-top: 20px;
  overflow: hidden;
}
.mat-card-content {
  padding-top: 20px;
}
.login > .mat-raised-button {
  margin-right: 10px;
  margin-bottom: 10px;
}

