<mat-card>
  <form #form="ngForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-12 col-md-10">
        Pronostique pour du beure sur la coupe du monde 2018 en Russie.
        <div *ngIf="!user" class="login">
          <p>
            Connecte toi avec:
          </p>
          <button mat-raised-button color="primary" (click)="login('Google')">Google</button>
          <button mat-raised-button color="primary" (click)="login('Facebook')">Facebook</button>
          <button mat-raised-button color="primary" (click)="login('Twitter')">Twitter</button>
          <button mat-raised-button color="primary" (click)="login('Github')">Github</button>
        </div>
      </div>
      <div class="col-6 col-md-2" *ngIf="user">
        <button mat-raised-button color="primary" type="submit">Enregistrer</button>
      </div>
    </div>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab *ngFor="let day of days" [label]="day">
          <div class="container">
            <wc-match-list [day]="day" [userBets]="userBets"></wc-match-list>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <div class="row justify-content-end">
      <div class="col-md-2" *ngIf="user">
        <button mat-raised-button color="primary" type="submit">Enregistrer</button>
      </div>
    </div>
  </form>
</mat-card>
