<mat-card>
  <div *ngIf="isIe">
    Arf, t'as IE. Ben change de navigateur !
  </div>
  <form *ngIf="!isIe" #form="ngForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-12 col-md-10">
        Pronostique pour du beurre sur la coupe du monde 2018 en Russie.
        <div *ngIf="!user" class="login">
          <p *ngIf="loginError">
            {{ loginError }}
          </p>
          <p *ngIf="!loginError">
            Connecte toi avec:
          </p>
          <button *ngFor="let provider of providers" mat-raised-button color="primary" (click)="login(provider.authProvider)" [disabled]="provider.disabled">{{ provider.name }}</button>
        </div>
      </div>
      <div class="col-6 col-md-2" *ngIf="user">
        <button mat-raised-button color="primary" type="submit">Enregistrer</button>
      </div>
    </div>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab *ngFor="let day of days" [label]="day">
          <div class="container">
            <wc-match-list [day]="day" [userBets]="userBets"></wc-match-list>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <div class="row justify-content-end">
      <div class="col-md-2" *ngIf="user">
        <button mat-raised-button color="primary" type="submit">Enregistrer</button>
      </div>
    </div>
  </form>
</mat-card>
